<div class="container">
  <mat-card class="example-card">
      <mat-card-title>MacBook Pro</mat-card-title>
      <img class="image" mat-card-image src="../../../assets/images/macbook.jpg"/>
    <mat-card-content>
      <p>Price:</p>
      <p>Chip:</p>
      <p>Year:</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Buy</button>
      <button class="button" mat-flat-button color="primary">Description</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>MacBook Pro</mat-card-title>
    <img class="image" mat-card-image src="../../../assets/images/macbook.jpg"/>
    <mat-card-content>
      <p>Price:</p>
      <p>Chip:</p>
      <p>Year:</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Buy</button>
      <button class="button" mat-flat-button color="primary">Description</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-title>MacBook Pro</mat-card-title>
    <img class="image" mat-card-image src="../../../assets/images/macbook.jpg"/>
    <mat-card-content>
      <p>Price:</p>
      <p>Chip:</p>
      <p>Year:</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">Buy</button>
      <button class="button" mat-flat-button color="primary">Description</button>
    </mat-card-actions>
  </mat-card>
</div>
