.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.mat-card {
  background-color: white;
  color: black;
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 300px;
}

.example-card {
  background-color: white;
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
